<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item label>
    <h3>Select subject area</h3>
  </ion-item>
  <ion-grid fixed=true>
    <ion-row height="12">
      <ion-col size="6">
        <ion-card button routerLink="/sample">
          <img src="/assets/astronomy.svg" alt="" />
          <ion-card-header>
            <ion-card-title>Solar System</ion-card-title>
          </ion-card-header>

          <ion-card-content> </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card button routerLink="/plants">
            <img src="/assets/leaf.svg" alt="" />
            <ion-card-header>
              <ion-card-title>Plants</ion-card-title>
            </ion-card-header>
  
            <ion-card-content> </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row height="12">
        <ion-col size="6">
          <ion-card button>
            <img src="/assets/worldwide.svg" alt="" />
            <ion-card-header>
              <ion-card-title>Earth</ion-card-title>
            </ion-card-header>
  
            <ion-card-content> </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card button>
              <img src="/assets/worldwide.svg" alt="" />
              <ion-card-header>
                <ion-card-title>Subject Area 4</ion-card-title>
              </ion-card-header>
    
              <ion-card-content> </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
