<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        MyVizLearn
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- <ion-button (click)="setSampleMap()"> SetMaptoFirebase </ion-button> -->
    <ion-card>
      <ion-card-title>Plant</ion-card-title>
        <ion-card-header>
    <ngx-graph
      [links]="links"
      [nodes]="nodes"
      [autoCenter]="true"
      [panningEnabled]="true"
      [enableZoom]="true"
      [autoZoom]="true"
    >
      <ng-template #defsTemplate>
        <svg:marker
          id="arrow"
          viewBox="0 -5 10 10"
          refX="8"
          refY="0"
          markerWidth="4"
          markerHeight="4"
          orient="auto"
        >
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>
  
      <ng-template #nodeTemplate let-node>
        <svg:g class="node">
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="node.data.color"
            
          />
          <svg:text 
            alignment-baseline="central"
            [attr.x]="10"
            [attr.y]="node.dimension.height / 2"
            onclick="alert(node.label)"
          >
            {{ node.label }}
          </svg:text>
        </svg:g>
      </ng-template>
  
      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path
            class="line"
            stroke-width="2"
            marker-end="url(#arrow)"
          ></svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath
              class="text-path"
              [attr.href]="'#' + link.id"
              [style.dominant-baseline]="link.dominantBaseline"
              startOffset="50%"
            >
              {{ link.label }}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
        <ion-row class="cardfooter">
            <ion-col>
                  Sunlight
            </ion-col>
            <ion-col>
                <p>All plants use sunlight to make food (sugars) in a process called photosynthesis. They store the food in their leaves and the energy flows to other animals that eat the leaves</p>
          </ion-col>
          </ion-row>
          <ion-row class="cardfooter">
              <ion-col>
                    Sunlight
              </ion-col>
              <ion-col>
                  <a href="https://en.wikipedia.org/wiki/Sunlight">https://en.wikipedia.org/wiki/Sunlight</a>
            </ion-col>
            </ion-row>
            <ion-row class="cardfooter">
                <ion-col>
                      <p>Root</p>
                </ion-col>
                <ion-col>
                    <a href="https://en.wikipedia.org/wiki/Root">https://en.wikipedia.org/wiki/Root</a>
              </ion-col>
              </ion-row>
    </ion-card>
    
  </ion-content>
  