<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
      <img src="/assets/concept-map.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Welcome to MyVizLearn</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This application represents knowledge represented visually displaying relationships among different concepts.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://drive.google.com/file/d/15ZcPaIHVoFMNBo3VUkGs008DUxbaQhOo/view"  target="_blank">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Project Proposal</ion-label>
      </ion-item>
      <ion-item href="https://drive.google.com/file/d/15ZcPaIHVoFMNBo3VUkGs008DUxbaQhOo/view"  target="_blank">
        <ion-icon slot="start" color="medium" name="paper"></ion-icon>
        <ion-label>Effectiveness of Concept Maps</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure"  target="_blank">
        <ion-icon slot="start" color="medium" name="help-circle-outline"></ion-icon>
        <ion-label>How To Guides</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
